*{
    margin: 0;
}

header{

  position: absolute;

  top:0%;
  left: 0%;

  background-color: #A1D1FD;
  color: #FFFFFF;

  height: 100px;
  width: 100%;

  border-radius: 0px 0px 20px 20px;
}

h1{
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: wavy;
  font-size: 3em;
  margin-top: 1%;
}

.container-table{
  width: 90%;
  height: 500px;

  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;

  overflow-y: scroll;
  overflow-x: hidden;

  border: 2px solid black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
  transition: transform 0.5s;
}

th{
  position: relative;
}

.arrow{
  position: absolute;

  top: 5px;
  right: 5px;
  width: 25px;

  cursor: pointer;

}

/* tr:not(tr:nth-child(0)):hover{
  transform: scale(1.2,1.2);
} */


tr:nth-child(even) {
  background-color: #dddddd;
}

.flag-svg{
  width: 50px;
}